$blue: #008ed6;
$dark-grey: #999999;
$light-grey: #e0e0e0;
$white: #ffffff;
$black-grey: #15141a;
$light-black-grey: #1a1a1a;
$black: #000000;
$white-grey: #ededed;
$semi-grey: #f2f2f2;
$soft-black: #444348;
$soft-white: #fffefe;

$bold: 'source_sans_bold', sans-serif;
$bold__italic: 'source_sans_bold_italic', sans-serif;
$italic: 'source_sans_italic', sans-serif;
$light: 'source_sans_light', sans-serif;
$light__italic: 'source_sans_light_italic', sans-serif;
$regular: 'source_sans_regular', sans-serif;
$semibold: 'source_sans_semibold', sans-serif;
$semibold__italic: 'source_sans_semibold_italic', sans-serif;
$quicksand: 'quicksand', sans-serif;
